*.log
*.log
*.db
Grandi's Maesters/common/nicknames/00_custom_nicknames.txt
The_Seven_Kingdoms/history/titles/c_dire_den.txt
Grandi's Maesters/common/nicknames/00_custom_nicknames.txt
The_Seven_Kingdoms/localisation/desktop.ini
The_Seven_Kingdoms/common/trade_routes/_trade_routes.info




