*.log
*.log
*.db
Grandi's Maesters/common/nicknames/00_custom_nicknames.txt
The_Seven_Kingdoms/history/titles/c_dire_den.txt
Grandi's Maesters/common/nicknames/00_custom_nicknames.txt
The_Seven_Kingdoms/localisation/desktop.ini
The_Seven_Kingdoms/common/trade_routes/_trade_routes.info
TitanRouge's chest/New backgrounds/anequina_backgrounds.dds
TitanRouge's chest/New backgrounds/argonia_backgrounds.dds
Personal Folders\TitanRouge's chest\Dragon engine stuff\Dragon Images
*.dds
TitanRouge's chest/New backgrounds/winterwald.jpg
*.bmp
The_Seven_Kingdoms/localisation/customizable_localisation/00_customizable_localisation_FR.txt
The_Seven_Kingdoms/localisation/customizable_localisation/00_customizable_localisation_DE.txt
The_Seven_Kingdoms/localisation/customizable_localisation/00_customizable_localisation_DE_Weapons.txt
Personal Folders/TitanRouge's chest/Dragon engine stuff/Dragon Images/Game+of+Thrones+Recap+Season+7+Episode+4+The+Spoils+of+War+Cover+Dany+Drogon.png
Personal Folders/TitanRouge's chest/Dragon engine stuff/Dragon Images/eeeeent.PNG
Personal Folders/TitanRouge's chest/Dragon engine stuff/Dragon Images/ddddddddddddt.PNG
Personal Folders/TitanRouge's chest/Dragon engine stuff/Dragon Images/Battle_Dragon22.tga
Personal Folders/TitanRouge's chest/Dragon engine stuff/Dragon Images/Battle_Dragon.tga
Personal Folders/TitanRouge's chest/Dragon engine stuff/Dragon Images/Battle_dragon.pdn
Personal Folders/TitanRouge's chest/Dragon engine stuff/Dragon Images/20180727164525_1.jpg
*.jpg
Personal Folders/TitanRouge's chest/Dragon engine stuff/Dragon Images/Battle_dragon.pdn
Personal Folders/TitanRouge's chest/Dragon engine stuff/Dragon Images/Battle_dragon.pdn
Personal Folders/TitanRouge's chest/Dragon engine stuff/Dragon Images/Battle_dragon.pdn
Personal Folders/TitanRouge's chest/Dragon engine stuff/Dragon Images/Battle_dragon_two.pdn
Personal Folders/TitanRouge's chest/Dragon engine stuff/Dragon Images/battle_dragon_two.tga
Personal Folders/TitanRouge's chest/Dragon engine stuff/Dragon Images/Battle_dragon.pdn
